@import '~element-ui/packages/theme-chalk/src/common/var.scss';
/* Colors
-------------------------- */
$--color-f19c3a: #f19c3a !default;
$--color-fadebc: #fadebc !default;
$--color-fefaf3: #fefaf3 !default;
$--color-shade: rgba(0, 0, 0, 0.3) !default;
$--color-eeeeee: #eee !default;
$--color-b3d6fa: #b3d6fa !default;
$--color-a1cfff: #a1cfff !default;
$--color-ff0000: #ff0000 !default;
$--color-ffffff: #ffffff !default;
$--color-00ff00: #00ff00 !default;
$--color-fef9e6: #fef9e6 !default;
$--color-gainsboro: rgb(220, 220, 220) !default;
$--color-ff6602: #ff6602 !default;
$--color-f0f0f0: #f0f0f0 !default;
$--color-c0c4cc: #c0c4cc !default;
$--color-909399: #909399 !default;
$--color-cccccc: #cccccc !default;
$--color-d9e9f6: #d9e9f6 !default;
$--color-f2f9ff: #f2f9ff !default;
$--color-e3e3e3: #e3e3e3 !default;
$--color-background: rgba(0, 0, 0, 0.7) !default;
$--color-ab2b2b: #ab2b2b !default;
$--color-606626: #606626 !default;
$--color-f3f8ff: #f3f8ff !default;
$--color-676776: #676776 !default;
$--color-409eff: #409eff !default;
$--color-0099ff: #0099ff !default;
$--color-F67E8E: #f67e8e !default;
$--color-bf7e28: #bf7e28 !default;
$--color-A4D022: #a4d022 !default;
$--color-13CE42: #13ce42 !default;
$--color-F6F6F6: #f6f6f6 !default;
$--color-E6E6E6: #e6e6e6 !default;
$--color-666666: #666666 !default;
$--color-333333: #333333 !default;
$--color-ff3600: #ff3600 !default;
$--color-fadb14: #fadb14 !default;
$--color-36cfc9: #36cfc9 !default;
$--color-faad14: #faad14 !default;
$--color-597ef7: #597ef7 !default;
$--color-e97788: #e97788 !default;
$--color-9254de: #9254de !default;
/* 财务服务产品页
-------------------------- */
$--color-4f6fbf: #4f6fbf !default;
$--color-3059b5: #3059b5 !default;
$--color-3b76c4: #3b76c4 !default;
$--color-585bd5: #585bd5 !default;
$--color-335dcf: #335dcf !default;
$--color-2883e4: #2883e4 !default;
$--color-315bb7: #315bb7 !default;
$--color-3973c2: #3973c2 !default;
$--color-5df191: #5df191 !default;
$--color-fe881c: #fe881c !default;
$--color-ed023c: #ed023c !default;
$--color-fed61e: #fed61e !default;
$--color-5782dc: #5782dc !default;

/* Input
-------------------------- */
$--input-color: #606266;

/* table
-------------------------- */
$--bs-table-hover-color: #ddeeff !default;
$--bs-table-select-color: #edf6ff !default;
